.immagine{
    width: 100%;
    height: 100%;
    max-height: 500px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0px; 
    padding-left: 0px;
    max-width: none !important;
}

.testo{
    height: 30vh;
    width: 100%;
    font-size: 55px;
}

.padre{
    width: 100%;
    height: 100%;
}

.font-text{
    font-family: "Annie Use Your Telescope";
    font-size: 55px !important;
    text-align: center;
}

.colosseo{
    width: 95%;
}

.container{
    margin-left: auto;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 100% !important;
}

@media( max-width: 576px){
    .font-text{    
      font-size: 35px !important;
      padding: 20px;
    }
    .immagine{
        display: contents !important;
    }
    .colosseo{
        width: 100%;
        max-width: 600px;
        max-height: 600px;
    }
    .superiore{
        display: flex;
        flex-direction: column-reverse;

    }
    .inferiore{
        min-width: 100%;
    min-height: 85vh;
    height: 85%;
    /* padding-top: 1em; */
    align-content: center;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
      }
      .mobile{
        padding-right: 0px; 
        padding-left: 0px;
        margin:0;
        align-content: center !important;
        flex-direction: column !important;
        justify-content: center !important;
        display: flex !important;
      }
      .col-4{max-width: none;}
      .logo{
        max-width: 140px !important;
      }
      .container{
        margin: 0% !important;
      }
      .col-8, .col-4{
        padding: 0px !important;
      }
      .load{
        margin-top: 50px;
      }
      .row{
        margin-left: 0px;
      }
    }