
.titles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    /* min-width: 100vw; */
    font-size: xx-large !important;
}

.description{
    /* width: 100vw; */
    /* height: 20vh; */
}

.roots{
    padding-right: 0px !important;
}

.elem > p {
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    /* margin-left: 1em !important; */
    font-family: "EB Garamond";
    font-size: large;
    padding-left: 23px;
}

.elem{
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.content_element{
    width: 100%; 
    /* margin-left: 20px;  */
    flex-direction: column;
}

.content_description{
    padding: 23px;
}

.result{
    width: 30vw;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    display: flex;
}

.img-result{
    max-width: 30vw !important;
    max-height: 50vh !important;
}

.info{
    /* width: 70vw !important; */
}




@media( max-width: 576px){
    .result{
        width: 100% !important; 
        align-content: center;
        justify-content: center;
        display: flex;
    }

    .img-result{
        width: 85vw !important;
    }

}