.load-photo{
    position: relative;
    display: flex;
    justify-content: center; 
    max-width: 350px !important;
    min-width: 400px;
    justify-content: center;
    align-items: center;
}

.load{
    
    /* margin: 1em;  */

    /* height: 15vh;
    width: 100vw;
    /* background-color: #6D6D6D; */
    /* width: 400px; */
    justify-content: center;
    align-items: center;
    display: flex;
    /* min-width: 30vw; */
    /* min-height: 30vh; */
  
  }

  @media( max-width: 576px){
    .load-photo{
        max-width: 250px !important;
        min-width: 200px !important;
    }
  }