@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  height: 100%;
}

body {
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  min-height: 100%;
  
  font-family: "Poppins";
  /* padding: 1em; */
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

:root{
  --colore-primario:#D9D9D9;
  --colore-secondario: rgba(112,186,255,1);
  --colore-terz:#0996BB;
  --colore-quart:#8B6EDD;
  --colore-border:rgb(101, 64, 204);
  --colore-shadow:rgba(0, 0, 0, 0.3);
  --colore-placeholder:#c1b1ec;
  --colore-bottone:white;
  --colore-titolo: white;
  --colore-contorno:#e0d5ff;
  --colore-input:white;
  --colore-card:white;
  --colore-scritte:black;
  --colore-link:blue;
  --opacita:1;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.contenitore-principale {
  
  background: var(--colore-primario);
  /* background: linear-gradient(180deg, var(--colore-primario) 20%, var(--colore-secondario) 100%); */
  /* max-width: 1580px; 
  min-height: 100vh; */
  width: 100%;
  height: 100%;
  /* border-radius: 24px; */
  /* position: relative; */
  /* padding: 3.5vmax; */
  
  /* justify-content: space-between !important; */

}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  position: top;
}

.row {
  margin-right: 0px;
  margin-top: 0px;
}
.superiore{
  min-width: 100%;
  min-height: 14vh;
  height: 15%;
}

.inferiore{
  min-width: 100%;
  min-height: 85vh;
  height: 85%;
  padding-top: 1em;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
